.userPics {
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 4px solid white;
}

.imageBackground {
  background: rgb(255, 171, 0);
  background: linear-gradient(
    40deg,
    rgba(255, 171, 0, 1) 0%,
    rgba(112, 0, 100, 1) 100%
  );
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageBackground.viewed {
  background: rgb(151, 151, 151);
}

.userPics > img:hover {
  cursor: pointer;
}

.username {
  font-size: 11px;
}
